body{
    color: rgb(44, 77, 88);
    background-color: rgb(44, 77, 88);
}

.employee-card {
    display: flex;
    margin:40px;
    padding: 10px;
    background-color: rgb(243, 237, 237);
}

.card-header{
    background-color:  lightblue;
}

.list-group-item{
    font-weight: bold;
}

.team-area {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  padding: 20px;
}
